body {
    background-color: rgb(255, 255, 255);
}

form {
    padding: 20px;
}

li {
    margin: 10px;
    position: relative;
    padding-top: 10px;
    border: black;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}
